@font-face {
    font-family: 'proximaNova';
    src: url(./proxima-reg/p/ProximaNova-Regular.otf);
}
@font-face {
    font-family: 'cou';
    src: url(./cou/Courgette-Regular.ttf);
}
@font-face {
    font-family: 'Itim';
    src: url(./Itim/Itim-Regular.ttf);
}